@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url( ../fonts/lato-v23-latin-regular.woff2 ) format('woff2');
}

@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url( ../fonts/lato-v23-latin-italic.woff2 ) format('woff2');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url( ../fonts/lato-v23-latin-700.woff2 ) format('woff2');
}

@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url( ../fonts/lato-v23-latin-700italic.woff2 ) format('woff2');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url( ../fonts/lato-v23-latin-900.woff2 ) format('woff2');
}

@font-face {
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url( ../fonts/merriweather-v30-latin-regular.woff2 ) format('woff2');
}

@font-face {
	font-family: 'Merriweather';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url( ../fonts/merriweather-v30-latin-italic.woff2 ) format('woff2');
}

@font-face {
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url( ../fonts/merriweather-v30-latin-700.woff2 ) format('woff2');
}

@font-face {
	font-family: 'Merriweather';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url( ../fonts/merriweather-v30-latin-700italic.woff2 ) format('woff2');
}

@font-face {
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url( ../fonts/merriweather-v30-latin-900.woff2 ) format('woff2');
}

@font-face {
  font-family: "ZhongYiSong";
  src: url("../fonts/中易宋体.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  text-shadow:
  0.03em 0 currentColor,
 -0.03em 0 currentColor,
  0 0.03em currentColor,
  0 -0.03em currentColor;
}

@font-face {
  font-family: "DFKai-SB";
  src: url("../fonts/DFKai-SB.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "edukai";
  src: url("../fonts/edukai-4.0.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "eduSong";
  src: url("../fonts/eduSong_Unicode.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  text-shadow:
  0.03em 0 currentColor,
 -0.03em 0 currentColor,
  0 0.03em currentColor,
  0 -0.03em currentColor;
}

@font-face {
  font-family: "GBPinyinok";
  src: url("../fonts/GB Pinyinok-C.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}