<script>
    function request_json(url, process) {
        const xhr = new XMLHttpRequest();
        xhr.open('GET', url, true);
        xhr.onreadystatechange = function () {
            if (4 === xhr.readyState && 200 === xhr.status) {
                const data = JSON.parse(xhr.responseText);
                process(data);
            } else if (4 === xhr.readyState) {
                console.error('Failed to load JSON.');
            }
        };
        xhr.send();
    }
    function process_page_navigation(page, total_pages) {
        var container=document.getElementById('page_navigation');
        var page_navigation_newer=document.getElementById('page_navigation_newer');
        var page_navigation_older=document.getElementById('page_navigation_older');
        var page_navigation_dots=document.getElementById('page_navigation_dots');
        var page_navigation_number=document.getElementById('page_navigation_number');
        var page_navigation_number_active=document.getElementById('page_navigation_number_active');
        var page_navigation_clear=document.getElementById('page_navigation_clear');
        var left=Math.max(1,page-2);
        var right=Math.min(total_pages,page+2);
        var elements=[];
        var index=0;
        console.log(left,right,page,total_pages)
        if(1<page)
        {
            elements[index++] = page_navigation_newer.outerHTML.replaceAll(' id="page_navigation_newer" style="display:none;"', '').replaceAll('|||||page_index|||||',page-1);
        }
        if(1<left)
        {
            elements[index++] = page_navigation_number.outerHTML.replaceAll(' id="page_navigation_number" style="display:none;"', '').replaceAll('|||||page_index|||||',1).replaceAll('?page=1','');
        }
        if(2<left)
        {
            elements[index++] = page_navigation_dots.outerHTML.replaceAll(' id="page_navigation_dots" style="display:none;"', '');
        }
        for(var i=left;i<=right;++i)
        {
            if(i!=page)
            {
                elements[index++] = page_navigation_number.outerHTML.replaceAll(' id="page_navigation_number" style="display:none;"', '').replaceAll('|||||page_index|||||',i);
            }
            else
            {
                elements[index++] = page_navigation_number_active.outerHTML.replaceAll(' id="page_navigation_number_active" style="display:none;"', '').replaceAll('|||||page_index|||||',i);
            }
            if(1==i)
            {
                elements[index-1]=elements[index-1].replaceAll('?page=1','');
            }
        }
        if(right<total_pages-1)
        {
            elements[index++] = page_navigation_dots.outerHTML.replaceAll(' id="page_navigation_dots" style="display:none;"', '');
        }
        if(right<total_pages)
        {
            elements[index++] = page_navigation_number.outerHTML.replaceAll(' id="page_navigation_number" style="display:none;"', '').replaceAll('|||||page_index|||||',total_pages);
        }
        if(page<total_pages)
        {
            elements[index++] = page_navigation_older.outerHTML.replaceAll(' id="page_navigation_older" style="display:none;"', '').replaceAll('|||||page_index|||||',page+1);
        }
        elements[index++] = page_navigation_newer.outerHTML;
        elements[index++] = page_navigation_older.outerHTML;
        elements[index++] = page_navigation_dots.outerHTML;
        elements[index++] = page_navigation_number.outerHTML;
        elements[index++] = page_navigation_number_active.outerHTML;
        elements[index++] = page_navigation_clear.outerHTML;
        container.innerHTML = elements.join('\n');
        if(1==page)
        {
            document.title=pure_title;
        }
        else
        {
            document.title=pure_title+' - Page '+page.toString();
        }
    }
    function select_category(data, tag, page) {
        var keys = Object.keys(data[tag]);
        var total_pages = Math.ceil(keys.length / 10);
        var total_page_number = document.getElementById('total_page_number');
        total_page_number.innerHTML = total_pages;
        if (page < 1) {
            page = 1;
        }
        else if (page > total_pages) {
            page = total_pages;
        }
        var current_page_index = document.getElementById('current_page_index');
        current_page_index.innerHTML = page;
        var left = (page - 1) * 10;
        var right = Math.min(page * 10, keys.length);
        var container = document.getElementById('posts');
        var article_post_sample = document.getElementById('article_post_sample');
        var page_post_sample = document.getElementById('page_post_sample');
        var elements = [];
        var index = 0;
        for (var i = left; i < right; ++i) {
            var new_element = article_post_sample.outerHTML.replaceAll(' id="article_post_sample" style="display:none;"', '');
            new_element = new_element.replaceAll('|||||category|||||', tag);
            new_element = new_element.replaceAll('|||||quote_category|||||', encodeURIComponent(tag)).toLowerCase();
            new_element = new_element.replaceAll('|||||url|||||', data[tag][i]['url']);
            new_element = new_element.replaceAll('|||||original_url|||||', '<!--|||||main_base_url|||||-->' + data[tag][i]['url'].replace('/',''));
            new_element = new_element.replaceAll('|||||title|||||', data[tag][i]['title']);
            elements[index++] = new_element;
        }
        elements[index++] = article_post_sample.outerHTML;
        elements[index++] = page_post_sample.outerHTML;
        container.innerHTML = elements.join('\n');
        process_page_navigation(page, total_pages);
    }
    function get_query_variable(variable) {
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split("=");
            if (pair[0] == variable) {
                return pair[1];
            }
        }
        return '';
    }
    var page = get_query_variable('page');
    if ('' == page) {
        page = 1;
    }
    page=parseInt(page);
    var pure_title=document.title;
    request_json('/category_database.js', (data) => select_category(data, '<!--|||||category|||||-->', page))
</script>