<a href="https://www.zh-tw.top/%e4%b8%80%e7%b0%a1%e5%a4%9a%e7%b9%81%e8%be%a8%e6%9e%90/%e4%b8%80%e7%b0%a1%e5%a4%9a%e7%b9%81%e8%be%a8%e6%9e%90%e4%b9%8b%e3%80%8c%e8%87%ba%e3%80%81%e6%aa%af%e3%80%81%e9%a2%b1%e3%80%81%e5%8f%b0%e3%80%8d%e2%86%92%e3%80%8c%e5%8f%b0%e3%80%8d/#"
    class="to-the-top">
    <div class="fa fw fa-angle-up"></div>
    <span class="screen-reader-text">返回頂端</span>
</a>
<p class="copyright">© 2024 <a href="https://www.zh-tw.top/" rel="home">大陸居民臺灣正體字講義</a></p>
<p style="font-size:13.5px">All rights have been waived by the editors. The website is dedicated to the public domain. <a
        href="https://www.zh-tw.top/copyright-and-disclaimer-%e7%89%88%e6%ac%8a%e5%92%8c%e5%85%8d%e8%b2%ac%e8%81%b2%e6%98%8e/">Copyright and Disclaimer (版權和免責聲明)</a></p>