<div class="sidebar">
    <div id="block-17" class="widget widget_block widget_search">
        <div class="widget-content">
            <form role="search" method="get" action="/search/"
                class="wp-block-search__button-outside wp-block-search__icon-button wp-block-search"><label
                    class="wp-block-search__label screen-reader-text" for="wp-block-search__input-1">搜尋</label>
                <div class="wp-block-search__inside-wrapper "><input class="wp-block-search__input"
                        id="wp-block-search__input-1" placeholder="請輸入要查詢的漢字" value="" type="search" name="s"
                        required=""><button aria-label="查詢" class="wp-block-search__button has-icon wp-element-button"
                        type="submit"><svg class="search-icon" viewBox="0 0 24 24" width="24" height="24">
                            <path
                                d="M13 5c-3.3 0-6 2.7-6 6 0 1.4.5 2.7 1.3 3.7l-3.8 3.8 1.1 1.1 3.8-3.8c1 .8 2.3 1.3 3.7 1.3 3.3 0 6-2.7 6-6S16.3 5 13 5zm0 10.5c-2.5 0-4.5-2-4.5-4.5s2-4.5 4.5-4.5 4.5 2 4.5 4.5-2 4.5-4.5 4.5z">
                            </path>
                        </svg></button></div>
            </form>
        </div>
    </div>
    <div id="zeno_fr_widget-3" class="widget Zeno_FR_Widget">
        <div class="widget-content">
            <h3 class="widget-title">調整字型大小</h3>
            <div class="zeno_font_resizer_container">
                <p class="zeno_font_resizer" style="text-align: center; font-weight: bold;">
                    <span>
                        <a href="#" class="zeno_font_resizer_minus" title="縮小字型大小" style="font-size: 0.7em;">正<span
                                class="screen-reader-text"> 縮小字型大小。</span></a>
                        <a href="#" class="zeno_font_resizer_reset" title="重設字型大小">正<span class="screen-reader-text"> 重設字型大小。</span></a>
                        <a href="#" class="zeno_font_resizer_add" title="放大字型大小" style="font-size: 1.3em;">正<span
                                class="screen-reader-text"> 放大字型大小。</span></a>
                    </span>
                    <input type="hidden" id="zeno_font_resizer_value" value="body">
                    <input type="hidden" id="zeno_font_resizer_ownid" value="">
                    <input type="hidden" id="zeno_font_resizer_ownelement" value="">
                    <input type="hidden" id="zeno_font_resizer_resizeMax" value="30">
                    <input type="hidden" id="zeno_font_resizer_resizeMin" value="10">
                    <input type="hidden" id="zeno_font_resizer_resizeSteps" value="1.6">
                    <input type="hidden" id="zeno_font_resizer_cookieTime" value="31">
                </p>
            </div>
        </div>
    </div>
    <div id="block-23" class="widget widget_block">
        <div class="widget-content"><!-- clipboard.js -->
            <script type="text/javascript" src="/js/clipboard.min.js"></script>
            <script type="text/javascript">
                var clipboard = new ClipboardJS('.copy');
                clipboard.on('success', function (e) {
                    e.clearSelection();
                    alert('複製成功，您複製的內容為「' + e.text + '」。');
                });
                clipboard.on('error', function (e) {
                    alert('複製失敗。');
                });
            </script>
            <button id="self_address" class="copy" data-clipboard-text="/">複製本頁網址</button>
            <script>
                var self_address = document.getElementById('self_address');
                self_address.setAttribute('data-clipboard-text', window.location.href);
            </script>
        </div>
    </div>
    <div id="block-20" class="widget widget_block">
        <div class="widget-content">
            <div class="is-style-icons wp-block-themeisle-blocks-sharing-icons"
                id="wp-block-themeisle-blocks-sharing-icons-6d673a04">
                <div class="social-icons-wrap"><a id="facebook_link" class="social-icon is-facebook"
                        href="https://www.facebook.com/sharer/sharer.php?u=/&amp;title=" target="_blank"><i
                            class="fab fa-facebook-f"></i><span class="v-line"></span></a><a id="twitter_link"
                        class="social-icon is-twitter" href="http://www.x.com/share?url=/&amp;text=" target="_blank"><i
                            class="fab fa-twitter"></i><span class="v-line"></span></a><a id="linkedin_link"
                        class="social-icon is-linkedin"
                        href="https://www.linkedin.com/shareArticle?mini=true&amp;url=/&amp;title=" target="_blank"><i
                            class="fab fa-linkedin-in"></i><span class="v-line"></span></a></div>
            </div>
            <script>
                var facebook_link = document.getElementById('facebook_link');
                facebook_link.setAttribute('href', 'https://www.facebook.com/sharer/sharer.php?u=' + window.location.href + '&title=' + document.title);
                var twitter_link = document.getElementById('twitter_link');
                twitter_link.setAttribute('href', 'http://www.x.com/share?url=' + window.location.href + '&text=' + document.title);
                var linkedin_link = document.getElementById('linkedin_link');
                linkedin_link.setAttribute('href', 'https://www.linkedin.com/shareArticle?mini=true&amp;url=' + window.location.href + '&title=' + document.title);
            </script>
        </div>
    </div>
    <div id="block-21" class="widget widget_block widget_text">
        <div class="widget-content">
            <p><a
                    href="/%e3%80%8c%e4%b8%80%e7%b0%a1%e5%a4%9a%e7%b9%81%e8%be%a8%e6%9e%90%e3%80%8d%e5%ad%b8%e7%bf%92%e7%b4%a2%e5%bc%95%e8%a1%a8/">「一簡多繁辨析」學習索引表</a>
            </p>
        </div>
    </div>
    <div id="block-24" class="widget widget_block widget_text">
        <div class="widget-content">
            <p><a
                    href="/%e3%80%8c%e4%b8%80%e7%b0%a1%e4%b8%80%e7%b9%81%e5%b0%8d%e6%87%89%e3%80%8d%e5%ad%b8%e7%bf%92%e7%b4%a2%e5%bc%95%e8%a1%a8/">「一簡一繁對應」學習索引表</a>
            </p>
        </div>
    </div>
    <div id="block-22" class="widget widget_block widget_text">
        <div class="widget-content">
            <p><a
                    href="/%e8%87%ba%e7%81%a3%e6%ad%a3%e9%ab%94%e5%ad%97%e8%88%87%e5%a4%a7%e9%99%b8%e7%b0%a1%e5%8c%96%e5%ad%97%e5%b0%8d%e7%85%a7%e7%b4%a2%e5%bc%95%e7%b8%bd%e8%a1%a8/">臺灣正體字與大陸簡化字對照索引總表</a>
            </p>
        </div>
    </div>
    <div id="block-18" class="widget widget_block widget_categories">
        <div class="widget-content">
            <ul class="wp-block-categories-list wp-block-categories">
                <li class="cat-item cat-item-18 current-cat"><a aria-current="page"
                        href="/category/%e4%b8%80%e7%b0%a1%e4%b8%80%e7%b9%81%e5%b0%8d%e6%87%89/">一簡一繁對應</a>
                </li>
                <li class="cat-item cat-item-18 current-cat"><a aria-current="page"
                        href="/category/%e4%b8%80%e7%b0%a1%e5%a4%9a%e7%b9%81%e8%be%a8%e6%9e%90/">一簡多繁辨析</a>
                </li>
                <li class="cat-item cat-item-19"><a href="/category/%e6%bc%a2%e5%ad%97%e8%b6%a3%e8%ab%87/">漢字趣談</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="block-9" class="widget widget_block widget_media_image">
        <div class="widget-content">
            <figure class="wp-block-image size-full"><img decoding="async"
                    src="https://cdn.githubraw.com/zhmgczh/Notes-on-Traditional-Chinese-Characters-in-Taiwan-for-Mainland-Chinese-Residents/master/Logo/%E6%AD%A3%EF%BC%88%E8%97%8D%E8%89%B2%E5%AD%97%E9%AB%94%EF%BC%89_SuperDEFN.png"
                    alt="大陸居民臺灣正體字講義" class="wp-image-166">
                <figcaption class="wp-element-caption">大陸居民臺灣正體字講義</figcaption>
            </figure>
        </div>
    </div>
    <div id="block-13" class="widget widget_block">
        <div class="widget-content">
            <ul>
                <li><a href="https://dict.variants.moe.edu.tw/" target="_blank"
                        rel="noreferrer noopener nofollow">《教育部異體字字典》</a></li>
                <li><a href="https://www.moedict.tw/" target="_blank" rel="noreferrer noopener nofollow">《國語辭典》（萌典）</a>
                </li>
                <li><a href="https://stroke-order.learningweb.moe.edu.tw/" target="_blank"
                        rel="noreferrer noopener nofollow">國字標準字體筆順學習網</a></li>
                <li><a href="https://dict.concised.moe.edu.tw/" target="_blank"
                        rel="noreferrer noopener nofollow">《國語辭典簡編本》</a></li>
                <li><a href="https://dict.revised.moe.edu.tw/" target="_blank"
                        rel="noreferrer noopener nofollow">《重編國語辭典修訂本》</a></li>
                <li><a href="https://dict.idioms.moe.edu.tw/" target="_blank"
                        rel="noreferrer noopener nofollow">《成語典》</a></li>
                <li><a href="https://cdn.githubraw.com/zhmgczh/Notes-on-Traditional-Chinese-Characters-in-Taiwan-for-Mainland-Chinese-Residents/master/補充資料/異形詞辨析手冊.pdf"
                        target="_blank" rel="noreferrer noopener nofollow">《異形詞辨析手冊》</a></li>
                <li><a href="https://cdn.githubraw.com/zhmgczh/Notes-on-Traditional-Chinese-Characters-in-Taiwan-for-Mainland-Chinese-Residents/master/補充資料/標準字與簡化字對照手冊.pdf"
                        target="_blank" rel="noreferrer noopener nofollow">《標準字與簡化字對照手冊》</a></li>
                <li><a href="https://language.moe.gov.tw/material/list?u=9fd3b76d-d663-4508-bad1-a61d34e68850"
                        target="_blank" rel="noreferrer noopener nofollow">國字標準字體字形檔</a></li>
                <li><a href="https://language.moe.gov.tw/001/Upload/FILES/SITE_CONTENT/M0001/HAU/haushou.htm"
                        target="_blank" rel="noreferrer noopener nofollow">《重訂標點符號手冊》</a></li>
                <li><a href="https://ctext.org/zh" target="_blank" rel="noreferrer noopener nofollow">中國哲學書電子化計劃</a>
                </li>
                <li><a href="https://humanum.arts.cuhk.edu.hk/Lexis/lexi-mf/" target="_blank"
                        rel="noreferrer noopener nofollow">漢語多功能字庫（香港）</a></li>
                <li><a href="https://zh.wikisource.org/wiki/%E9%80%9A%E7%94%A8%E8%A7%84%E8%8C%83%E6%B1%89%E5%AD%97%E8%A1%A8#%E9%99%84%E4%BB%B61._%E8%A7%84%E8%8C%83%E5%AD%97%E4%B8%8E%E7%B9%81%E4%BD%93%E5%AD%97%E3%80%81%E5%BC%82%E4%BD%93%E5%AD%97%E5%AF%B9%E7%85%A7%E8%A1%A8"
                        target="_blank" rel="noreferrer noopener nofollow">《通用規範漢字表》（大陸）</a></li>
                <li><a href="https://kanji.jitenon.jp/" target="_blank"
                        rel="noreferrer noopener nofollow">《漢字辞典オンライン》（日本）</a></li>
                <li><a href="http://www.zonmal.com/" target="_blank" rel="noreferrer noopener nofollow">《존 한자사전》（韓國）</a>
                </li>
                <li><a href="https://www.hannom-rcv.org/" target="_blank"
                        rel="noreferrer noopener nofollow">委班復生漢喃越南（越南）</a></li>
            </ul>
        </div>
    </div>
</div>