<div class="wp-block-themeisle-blocks-posts-grid" id="wp-block-themeisle-blocks-posts-grid-244696c1">
    <div id="yijianduofanbianxi_container" class="is-grid o-posts-grid-columns-3">
        <div class="o-posts-grid-post-blog o-posts-grid-post-plain">
            <div class="o-posts-grid-post">
                <div class="o-posts-grid-post-body is-full"><span class="o-posts-grid-post-category"><a
                            href="https://www.zh-tw.top/category/%e4%b8%80%e7%b0%a1%e5%a4%9a%e7%b9%81%e8%be%a8%e6%9e%90/">一簡多繁辨析</a></span>
                    <h5 class="o-posts-grid-post-title"><a
                            href="https://www.zh-tw.top/%e4%b8%80%e7%b0%a1%e5%a4%9a%e7%b9%81%e8%be%a8%e6%9e%90/%e4%b8%80%e7%b0%a1%e5%a4%9a%e7%b9%81%e8%be%a8%e6%9e%90%e4%b9%8b%e3%80%8c%e5%b1%a9%e3%80%81%e6%a9%87%e3%80%8d%e2%86%92%e3%80%8c%e9%9e%92%e3%80%8d/">一簡多繁辨析之「屩、橇」→「鞒」</a>
                    </h5>
                    <p class="o-posts-grid-post-meta"></p>
                    <div class="o-posts-grid-post-description">
                        <p>《大陸居民臺灣正體字講義》一簡多繁辨析之「屩、橇」→「鞒」
                            辨音：「屩」音jué[ㄐㄩㄝˊ]，「橇」音qiāo[ㄑㄧㄠ]。注意根據《通用規範漢字表》「鞒」為「鞽」之簡化字，而「鞽」並非教育部考定正字而…</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="o-posts-grid-post-blog o-posts-grid-post-plain">
            <div class="o-posts-grid-post">
                <div class="o-posts-grid-post-body is-full"><span class="o-posts-grid-post-category"><a
                            href="https://www.zh-tw.top/category/%e4%b8%80%e7%b0%a1%e5%a4%9a%e7%b9%81%e8%be%a8%e6%9e%90/">一簡多繁辨析</a></span>
                    <h5 class="o-posts-grid-post-title"><a
                            href="https://www.zh-tw.top/%e4%b8%80%e7%b0%a1%e5%a4%9a%e7%b9%81%e8%be%a8%e6%9e%90/%e4%b8%80%e7%b0%a1%e5%a4%9a%e7%b9%81%e8%be%a8%e6%9e%90%e4%b9%8b%e3%80%8c%e8%87%8f%e3%80%81%e9%ab%95%e3%80%8d%e2%86%92%e3%80%8c%e8%86%91%e3%80%81%e9%ab%8c%e3%80%8d/">一簡多繁辨析之「臏、髕」→「膑、髌」</a>
                    </h5>
                    <p class="o-posts-grid-post-meta"></p>
                    <div class="o-posts-grid-post-description">
                        <p>《大陸居民臺灣正體字講義》一簡多繁辨析之「臏、髕」→「膑、髌」
                            辨音：「臏、髕」音bìn[ㄅㄧㄣˋ]。注意「臏（膑）」與「髕（髌）」實則無關聯，而其音義皆同，故收錄之。
                            辨意：「臏」是指膝蓋骨、削去膝…</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="o-posts-grid-post-blog o-posts-grid-post-plain">
            <div class="o-posts-grid-post">
                <div class="o-posts-grid-post-body is-full"><span class="o-posts-grid-post-category"><a
                            href="https://www.zh-tw.top/category/%e4%b8%80%e7%b0%a1%e5%a4%9a%e7%b9%81%e8%be%a8%e6%9e%90/">一簡多繁辨析</a></span>
                    <h5 class="o-posts-grid-post-title"><a
                            href="https://www.zh-tw.top/%e4%b8%80%e7%b0%a1%e5%a4%9a%e7%b9%81%e8%be%a8%e6%9e%90/%e4%b8%80%e7%b0%a1%e5%a4%9a%e7%b9%81%e8%be%a8%e6%9e%90%e4%b9%8b%e3%80%8c%e7%bd%8c%e3%80%81%e7%94%96%e3%80%8d%e2%86%92%e3%80%8c%e7%bd%82%e3%80%8d/">一簡多繁辨析之「罌、甖」→「罂」</a>
                    </h5>
                    <p class="o-posts-grid-post-meta"></p>
                    <div class="o-posts-grid-post-description">
                        <p>《大陸居民臺灣正體字講義》一簡多繁辨析之「罌、甖」→「罂」
                            辨音：「罌、甖」音yīng[ㄧㄥ]。
                            辨意：「罌」是指口小腹大之瓶或作瓷瓦器之總名，如「罌粟」（植物名，罌粟科罌粟屬，二年生草本，亦稱「罌子…</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="o-posts-grid-post-blog o-posts-grid-post-plain">
            <div class="o-posts-grid-post">
                <div class="o-posts-grid-post-body is-full"><span class="o-posts-grid-post-category"><a
                            href="https://www.zh-tw.top/category/%e4%b8%80%e7%b0%a1%e5%a4%9a%e7%b9%81%e8%be%a8%e6%9e%90/">一簡多繁辨析</a></span>
                    <h5 class="o-posts-grid-post-title"><a
                            href="https://www.zh-tw.top/%e4%b8%80%e7%b0%a1%e5%a4%9a%e7%b9%81%e8%be%a8%e6%9e%90/%e4%b8%80%e7%b0%a1%e5%a4%9a%e7%b9%81%e8%be%a8%e6%9e%90%e4%b9%8b%e3%80%8c%e7%af%9b%e3%80%81%e7%ae%ac%e3%80%8d%e2%86%92%e3%80%8c%e7%ae%ac%e3%80%8d/">一簡多繁辨析之「篛、箬」→「箬」</a>
                    </h5>
                    <p class="o-posts-grid-post-meta"></p>
                    <div class="o-posts-grid-post-description">
                        <p>《大陸居民臺灣正體字講義》一簡多繁辨析之「篛、箬」→「箬」
                            辨音：「篛」音ruò[ㄖㄨㄛˋ]，「箬」音ruò[ㄖㄨㄛˋ]或nà[ㄋㄚˋ]。
                            辨意：「篛」是指開始褪殼之竹，如「篛竹」（植物名，禾本科箬竹…</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="o-posts-grid-post-blog o-posts-grid-post-plain">
            <div class="o-posts-grid-post">
                <div class="o-posts-grid-post-body is-full"><span class="o-posts-grid-post-category"><a
                            href="https://www.zh-tw.top/category/%e4%b8%80%e7%b0%a1%e5%a4%9a%e7%b9%81%e8%be%a8%e6%9e%90/">一簡多繁辨析</a></span>
                    <h5 class="o-posts-grid-post-title"><a
                            href="https://www.zh-tw.top/%e4%b8%80%e7%b0%a1%e5%a4%9a%e7%b9%81%e8%be%a8%e6%9e%90/%e4%b8%80%e7%b0%a1%e5%a4%9a%e7%b9%81%e8%be%a8%e6%9e%90%e4%b9%8b%e3%80%8c%e8%9e%82%e3%80%81%e8%9c%8b%e3%80%8d%e2%86%92%e3%80%8c%e8%9e%82%e3%80%8d/">一簡多繁辨析之「螂、蜋」→「螂」</a>
                    </h5>
                    <p class="o-posts-grid-post-meta"></p>
                    <div class="o-posts-grid-post-description">
                        <p>《大陸居民臺灣正體字講義》一簡多繁辨析之「螂、蜋」→「螂」
                            辨音：「螂」音láng[ㄌㄤˊ]，「蜋」音láng[ㄌㄤˊ]或liáng[ㄌㄧㄤˊ]。
                            辨意：「螂」是專用於固定詞彙「螳螂」（動物名，一種昆…</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="o-posts-grid-post-blog o-posts-grid-post-plain">
            <div class="o-posts-grid-post">
                <div class="o-posts-grid-post-body is-full"><span class="o-posts-grid-post-category"><a
                            href="https://www.zh-tw.top/category/%e4%b8%80%e7%b0%a1%e5%a4%9a%e7%b9%81%e8%be%a8%e6%9e%90/">一簡多繁辨析</a></span>
                    <h5 class="o-posts-grid-post-title"><a
                            href="https://www.zh-tw.top/%e4%b8%80%e7%b0%a1%e5%a4%9a%e7%b9%81%e8%be%a8%e6%9e%90/%e4%b8%80%e7%b0%a1%e5%a4%9a%e7%b9%81%e8%be%a8%e6%9e%90%e4%b9%8b%e3%80%8c%e7%9d%bf%e3%80%81%e5%8f%a1%e3%80%8d%e2%86%92%e3%80%8c%e7%9d%bf%e3%80%8d/">一簡多繁辨析之「睿、叡」→「睿」</a>
                    </h5>
                    <p class="o-posts-grid-post-meta"></p>
                    <div class="o-posts-grid-post-description">
                        <p>《大陸居民臺灣正體字講義》一簡多繁辨析之「睿、叡」→「睿」
                            辨音：「睿、叡」音ruì[ㄖㄨㄟˋ]。
                            辨意：「睿」是指通達、明智、聰明、古時臣對君之敬辭（泛稱與君有關之物），如「睿智」（深明通達的智識）…</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="yijianduofanbianxi_sample" style="display:none;"
            class="o-posts-grid-post-blog o-posts-grid-post-plain">
            <div class="o-posts-grid-post">
                <div class="o-posts-grid-post-body is-full"><span class="o-posts-grid-post-category"><a
                            href="/category/|||||quote_tag|||||/">|||||tag|||||</a></span>
                    <h5 class="o-posts-grid-post-title"><a href="|||||url|||||">|||||title|||||</a>
                    </h5>
                    <p class="o-posts-grid-post-meta"></p>
                    <div class="o-posts-grid-post-description">
                        <p>|||||description|||||</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function request_json(url, process) {
        const xhr = new XMLHttpRequest();
        xhr.open('GET', url, true);
        xhr.onreadystatechange = function () {
            if (4 === xhr.readyState && 200 === xhr.status) {
                const data = JSON.parse(xhr.responseText);
                process(data);
            } else if (4 === xhr.readyState) {
                console.error('Failed to load JSON.');
            }
        };
        xhr.send();
    }
    function get_random_subarray(arr, size) {
        var shuffled = arr.slice(0), i = arr.length, min = i - size, temp, index;
        while (i-- > min) {
            index = Math.floor((i + 1) * Math.random());
            temp = shuffled[index];
            shuffled[index] = shuffled[i];
            shuffled[i] = temp;
        }
        return shuffled.slice(min);
    }
    function select_yijianduofanbianxi(data, tag, n) {
        var keys = Object.keys(data[tag]);
        if (keys.length < n) {
            n = keys.length;
        }
        var indices = get_random_subarray(keys, n);
        var yijianduofanbianxi_container = document.getElementById('yijianduofanbianxi_container');
        var yijianduofanbianxi_sample = document.getElementById('yijianduofanbianxi_sample');
        elements = []
        for (var i = 0; i < n; ++i) {
            var new_element = yijianduofanbianxi_sample.outerHTML.replace(' id="yijianduofanbianxi_sample" style="display:none;"', '');
            new_element = new_element.replace('|||||tag|||||', tag);
            new_element = new_element.replace('|||||quote_tag|||||', encodeURIComponent(tag)).toLowerCase();
            new_element = new_element.replace('|||||url|||||', data[tag][indices[i]]['url']);
            new_element = new_element.replace('|||||title|||||', data[tag][indices[i]]['title']);
            var description = data[tag][indices[i]]['description'];
            if (100 < description.length) {
                description = description.substr(0, 100) + '…';
            }
            new_element = new_element.replace('|||||description|||||', description)
            elements[i] = new_element;
        }
        elements[n] = yijianduofanbianxi_sample.outerHTML;
        if (n <= 2) {
            yijianduofanbianxi_container.setAttribute('class', 'is-grid o-posts-grid-columns-' + n.toString());
        }
        else {
            yijianduofanbianxi_container.setAttribute('class', 'is-grid o-posts-grid-columns-3');
        }
        yijianduofanbianxi_container.innerHTML = elements.join('\n');
    }
    request_json('category_database.js', (data) => select_yijianduofanbianxi(data, '一簡多繁辨析', 6))
</script>