<div class="wp-block-themeisle-blocks-posts-grid" id="wp-block-themeisle-blocks-posts-grid-d7e09aeb">
    <div id="hanziqutan_container" class="is-grid o-posts-grid-columns-3">
        <div class="o-posts-grid-post-blog o-posts-grid-post-plain">
            <div class="o-posts-grid-post">
                <div class="o-posts-grid-post-body is-full"><span class="o-posts-grid-post-category"><a
                            href="https://www.zh-tw.top/category/%e6%bc%a2%e5%ad%97%e8%b6%a3%e8%ab%87/">漢字趣談</a></span>
                    <h5 class="o-posts-grid-post-title"><a
                            href="https://www.zh-tw.top/%e6%bc%a2%e5%ad%97%e8%b6%a3%e8%ab%87/%e9%97%9c%e6%96%bc%e3%80%8c%e7%be%8a%e3%80%8d%e3%80%81%e3%80%8c%e7%be%8b%e3%80%8d%e3%80%81%e3%80%8c%e5%93%b6%e3%80%8d%e3%80%81%e3%80%8c%e5%92%a9%e3%80%8d%e5%9b%9b%e5%ad%97%e9%97%9c%e8%81%af%e7%9a%84/">關於「羊」、「羋」、「哶」、「咩」四字關聯的一個猜想</a>
                    </h5>
                    <p class="o-posts-grid-post-meta"></p>
                    <div class="o-posts-grid-post-description">
                        <p>整理資料時對著「羋」字看了半晌，突然發覺這個字和「羊」字的形態異常接近，有一瞬間甚至感到此字之形態比「羊」更加 […]</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="o-posts-grid-post-blog o-posts-grid-post-plain">
            <div class="o-posts-grid-post">
                <div class="o-posts-grid-post-body is-full"><span class="o-posts-grid-post-category"><a
                            href="https://www.zh-tw.top/category/%e6%bc%a2%e5%ad%97%e8%b6%a3%e8%ab%87/">漢字趣談</a></span>
                    <h5 class="o-posts-grid-post-title"><a
                            href="https://www.zh-tw.top/%e6%bc%a2%e5%ad%97%e8%b6%a3%e8%ab%87/%e5%be%9e%e9%9f%b3%e9%9f%bb%e5%ad%b8%e8%a6%96%e8%a7%92%e7%9c%8b%e3%80%8c%e6%a8%93%e8%98%ad%e3%80%8d%e8%88%87%e3%80%8c%e6%9f%94%e7%84%b6%e3%80%8d%e5%85%a9%e5%80%8b%e5%8f%a4%e5%9c%8b%e5%90%8d%e9%97%9c/">從音韻學視角看「樓蘭」與「柔然」兩個古國名關聯的一個猜想</a>
                    </h5>
                    <p class="o-posts-grid-post-meta"></p>
                    <div class="o-posts-grid-post-description">
                        <p>最近無意間發現了一個耐人尋味的問題。深夜欲寢之時，「樓蘭」和「柔然」兩個古國名突然幾乎在同一時刻從腦海中冒了出 […]</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="hanziqutan_sample" style="display:none;" class="o-posts-grid-post-blog o-posts-grid-post-plain">
            <div class="o-posts-grid-post">
                <div class="o-posts-grid-post-body is-full"><span class="o-posts-grid-post-category"><a
                            href="/category/|||||quote_tag|||||/">|||||tag|||||</a></span>
                    <h5 class="o-posts-grid-post-title"><a href="|||||url|||||">|||||title|||||</a>
                    </h5>
                    <p class="o-posts-grid-post-meta"></p>
                    <div class="o-posts-grid-post-description">
                        <p>|||||description|||||</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function request_json(url, process) {
        const xhr = new XMLHttpRequest();
        xhr.open('GET', url, true);
        xhr.onreadystatechange = function () {
            if (4 === xhr.readyState && 200 === xhr.status) {
                const data = JSON.parse(xhr.responseText);
                process(data);
            } else if (4 === xhr.readyState) {
                console.error('Failed to load JSON.');
            }
        };
        xhr.send();
    }
    function get_random_subarray(arr, size) {
        var shuffled = arr.slice(0), i = arr.length, min = i - size, temp, index;
        while (i-- > min) {
            index = Math.floor((i + 1) * Math.random());
            temp = shuffled[index];
            shuffled[index] = shuffled[i];
            shuffled[i] = temp;
        }
        return shuffled.slice(min);
    }
    function select_hanziqutan(data, tag, n) {
        var keys = Object.keys(data[tag]);
        if (keys.length < n) {
            n = keys.length;
        }
        var indices = get_random_subarray(keys, n);
        var hanziqutan_container = document.getElementById('hanziqutan_container');
        var hanziqutan_sample = document.getElementById('hanziqutan_sample');
        elements = [];
        for (var i = 0; i < n; ++i) {
            var new_element = hanziqutan_sample.outerHTML.replaceAll(' id="hanziqutan_sample" style="display:none;"', '');
            new_element = new_element.replaceAll('|||||tag|||||', tag);
            new_element = new_element.replaceAll('|||||quote_tag|||||', encodeURIComponent(tag)).toLowerCase();
            new_element = new_element.replaceAll('|||||url|||||', data[tag][indices[i]]['url']);
            new_element = new_element.replaceAll('|||||title|||||', data[tag][indices[i]]['title']);
            var description = data[tag][indices[i]]['description'];
            if (100 < description.length) {
                description = description.substr(0, 100) + '…';
            }
            new_element = new_element.replaceAll('|||||description|||||', description)
            elements[i] = new_element;
        }
        elements[n] = hanziqutan_sample.outerHTML;
        if (n <= 2) {
            hanziqutan_container.setAttribute('class', 'is-grid o-posts-grid-columns-' + n.toString());
        }
        else {
            hanziqutan_container.setAttribute('class', 'is-grid o-posts-grid-columns-3');
        }
        hanziqutan_container.innerHTML = elements.join('\n');
    }
    request_json('/category_database.js', (data) => select_hanziqutan(data, '漢字趣談', 6))
</script>